.ICEauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.config/Microsoft/
.config/discord/
.config/teams/
.gnupg/
.local/
.pki/
.ssh/
.mozilla/
.thunderbird/
.viminfo
Documents/
Downloads/
