.ICEauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.config/Mousepad/
.config/Thunar/
.config/Yubico/
.config/Microsoft/
.config/dconf
.config/discord/
.config/teams/
.config/neomutt/
.config/qalculate/
.config/xfce4/
.config/Code - OSS/
.gnupg/
.local/
.pki/
.ssh/
.java/
.m2/
.mozilla/
.npm/
.thunderbird/
.viminfo
.vscode-oss/*

.aspell.*
.lesshst
.python_history
.wget-hsts

Documents/
Downloads/
Computing/
Pictures/
scripts/
